<body>
		<input type="text" id="num"/>
		<button onclick="getSquare();">Get Square</button>
		<div id="result"> </div>
</body>
<script>
	function getSquare(){
		var x=document.getElementById("num").value;
		console.log(`value of x is ${x}`);
		console.log(`square of ${x} is ${x*x}`);
		document.getElementById("result").innerHTML = square of(`${x} is ${x*x}`);
	   }
</script>
